<div class="container">
	<div class="row-fluid col-sm-12">
		<h1>{{ 'AppTitle' | translate}}</h1>
		<hr />
		<button ng-click="clearSorting()" class="btn btn-default pull-right">{{ 'ClearSorting' | translate}}</button>
		<button ng-click="clearFilter()"  class="btn btn-default pull-right">{{ 'ClearFilter' | translate}}</button>
		<a ui-sref="appsGrid" type="button" class="btn btn-default pull-right">
			<span class="fa fa-th"></span>
		</a>
		<a ui-sref="apps.addInline" type="button" class="btn btn-default pull-right">
			<span class="fa fa-plus-square"></span>
		</a>
		<a ui-sref="appsAdd" type="button" class="btn btn-default pull-right">
			<span class="fa fa-plus"></span>
		</a>
		<div ng-if="isDebugMode()">
			<p><strong>{{ 'Sorting' | translate}}:</strong> {{tableParams.sorting()|json}}</p>
			<p><strong>{{ 'Filter' | translate}}:</strong> {{tableParams.filter()|json}}</p>
		</div>

<!--
	export works, but is not complete yet. 
	There are two different implementation of ng-table-export:
	original:  		esvit / ng-table-export
	fork:   		davisford / ng-table-export   (fix to work with pager)
	We use the fork from davisford. Tested ok in Chrome and Safari (Excel not started, mime type probably needs to be configured accordingly)
	Goal: formulate the whole table-handling into a directive or service incl. import/export/crud-operations.
-->
		<a class="btn btn-primary" ng-click='csv.generate($event, "apps.csv")' href=''>Export to CSV</a>
		<input type="checkbox" ng-model="showFilter"> {{ 'ShowFilter' | translate}}</input>
		<input type="checkbox" ng-init="counts.length > 0" ng-click="toggleCounts()"> {{ 'ShowToggler' | translate}}</input>
		<hr />
		<div ui-view=""></div>

		<div class="table-responsive">
			<table ng-table="tableParams" show-filter="showFilter" class="table table-hover" export-csv='csv'>
				<tr ng-repeat="p in $data">
					<td data-title="'AppID'" sortable="'appid'" filter="{ 'appid': 'text' }">
						<span ng-if="!p.$edit">{{ p.appid }}</span>
						<div ng-if="p.$edit">
							<input class="form-control" type="text" ng-model="p.appid"></input>
						</div>
					</td>
					<td data-title="'Logo'" sortable="'logo'" filter="{ 'logo': 'text' }">
						<span ng-if="!p.$edit">{{p.logo}}</span>
						<div ng-if="p.$edit">
							<input class="form-control" type="text" ng-model="p.logo"></input>
						</div>
					</td>
					<td data-title="'Category'" sortable="'category'" filter="{ 'category': 'text' }">
						<span ng-if="!p.$edit">{{p.category}}</span>
						<div ng-if="p.$edit">
							<input class="form-control" type="text" ng-model="p.category"></input>
						</div>
					</td>
					<td>
						<button ng-if="!p.$edit" ng-click="p.showDetails=true" type="button"
							class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'ShowDetails' | translate}}">
							<span class="fa fa-language fa-fw"></span>
						</button>
					</td>
					<td>
						<button ng-if="!p.$edit" ng-click="p.$edit = true" type="button" 
							class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="{{ 'Edit' | translate}}">
							<span class="fa fa-pencil fa-fw"></span>
						</button>
						<button ng-if="p.$edit" ng-click="save(p)" type="button" class="btn btn-success btn-xs" 
							data-toggle="tooltip" data-placement="top" title="{{ 'Save' | translate}}">
							<span class="fa fa-save fa-fw"></span>
						</button>
					</td>
					<td>
						<button ng-if="p.$edit" ng-click="p.$edit=false" type="button" class="btn btn-danger btn-xs"
							data-toggle="tooltip" data-placement="top" title="{{ 'Cancel' | translate}}">
							<span class="fa fa-close fa-fw"></span>
						</button>
						<button ng-if="!p.$edit" ng-click="delete(p)" type="button" class="btn btn-default btn-xs"
							data-toggle="tooltip" data-placement="top" title="{{ 'Delete' | translate}}">
							<span class="fa fa-trash-o fa-fw"></span>
						</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

